.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 50px);
    padding: 5px 25px;
    box-shadow: 0px 5px 5px #ddd;
}

.title-beginning {
    letter-spacing: -5px;
    color: #599bf3;
}

.my-links ul {
    display: flex;
    list-style: none;
}

.my-links ul li {
    margin: 10px;
}
