.gallery {
    display: flex;
    overflow-x: scroll;
    width: 500px;
    padding: 15px;
    border: #666 2px solid;
}

.gallery img {
    width: auto;
    height: 150px;
    margin: 10px;
    border: #999 2px solid;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .gallery {
        width: 300px;
    }
}
