.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #599bf3;
    color: #ffffff;
}

.footer .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 12px;
}


