.app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(246, 246, 246);
}

a {
    color: #000;
}

.main {
    display: flex;
    align-items: center;
    height: calc(100vh);
    padding: 20px 100px;
}

.meme-creator {
    display: flex;
}

.user-input {
    flex: 0.5;
}

.meme-container {
    margin-left: 50px;
    flex: 0.5;
}

.placeholder {
    height: 500px;
    width: 500px;
    background-color: #ddd;
}
