.app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(246, 246, 246);
}

a {
    color: #062958;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease-out;
}

a:hover {
    color: #c8defb;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh + 50px);
}

.meme-creator {
    display: flex;
    justify-content: center;
}

.meme-container {
    margin-left: 50px;
}

.placeholder {
    height: 30vw;
    width: 30vw;
    background-color: #ddd;
}

@media only screen and (max-width: 1024px) {
    .meme-creator {
        display: block;
    }

    .placeholder {
        height: 300px;
        width: 300px;
        background-color: #ddd;
    }
}
